 .u-section-1 {
  background-image: linear-gradient(#478ac9, #f1b5b8);
}

.u-section-1 .u-sheet-1 {
  min-height: 994px;
}

.u-section-1 .u-shape-1 {
  width: 511px;
  height: 83px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -68px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 401px;
  margin-top: 35px;
  margin-bottom: 35px;
  grid-gap: 17px 17px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 106px;
  }

  .u-section-1 .u-gallery-1 {
    margin-top: 19px;
    height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-1 .u-gallery-1 {
    height: 761px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2510px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1712px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1639px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-top: 119px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -81px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1078px;
  }
}